$brand-color: #0066cc;
$brand-color-hover: #004182;
$brand-color-90: rgba(0, 102, 204, 0.9);
$brand-color-80: rgba(0, 102, 204, 0.8);
$brand-color-70: rgba(0, 102, 204, 0.7);
$brand-color-60: rgba(0, 102, 204, 0.6);
$brand-color-50: rgba(0, 102, 204, 0.5);
$brand-color-40: rgba(0, 102, 204, 0.4);
$brand-color-30: rgba(0, 102, 204, 0.3);
$brand-color-20: rgba(0, 102, 204, 0.2);
$brand-color-10: rgba(0, 102, 204, 0.1);
$success-color: #008489;
$warning-color: #ffb822;
$danger-color: #8f0404;
$font-color: #67666e;
$font-color-dark: #1c1c1c;
$font-color-light: #d5d5d5;

$main-font: 'Open Sans', sans-serif;
$titles-font: 'Open Sans', sans-serif;

$header-height: 80px;
$footer-height: 60px;

$large-device: 1440px;
$medium-device: 860px;
$small-device: 540px;